<form id="Insert" #dataForm="ngForm" novalidate>
               
  <h3>Insert New Data</h3>
        <div class="form-group">
            <input type="text" style="margin: 5px; background-color: white; opacity: 1;" id="name" name="name" class="form-control" placeholder="Company name" [(ngModel)]="name" required>
        </div>

              <div class="form-group">
            <input type="text" style="margin: 5px; background-color: white; opacity: 1;" id="location" name="location" class="form-control" placeholder="Location" [(ngModel)]="location" required>
        </div>

        <button [disabled]="dataForm.form.invalid" style="margin: 5px; height: 20px; font-size: 14px" class="btn peach-gradient" (click)="insertData()">Insert</button>
</form>